header {
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.title {
  display: grid;
  grid-column: 1/1/-1/span 2;
}

.navigation {
  display: grid;
  grid-column: 2/-1;

  &__mobile {
    display: flex;
    justify-content: space-around;
    position: absolute;
    align-items: flex-end;
    flex-direction: column;
    height: 55vh;
    width: 100%;
    padding-top: 40px;
    z-index: 1;
  }

  &__desktop {
    display: grid;
    grid-area: 1/2/-1/-1;
    justify-content: flex-end;

    & ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
    }

    & a {
      display: block;
      padding: 0 20px;
      text-decoration: none;
      white-space: nowrap;
      color: white;

      &:hover {
        /* background-image: radial-gradient(
          circle,
          lightsteelblue 22%,
          black 100%
        ); */
      }
    }
  }
}

.hamburgerMenu {
  display: grid;
  justify-content: flex-end;
  grid-column: 2/-1;
}
