@import "../../shared/styles/fonts.css";

.header {
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  position: relative;

  &__title {
    display: grid;
    grid-column: 1/span 2;
    font-family: var(--header-title-font);
    font-size: var(--header-title-font-size);
    align-items: center;
  }

  &__navigation {
    display: grid;
    grid-column: 3/-1;
  }
}
