* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.mircle {
  display: grid;
  grid-template-rows: 100% 1fr 100%;
  min-height: 100vh;
}
