.backgroundImage {
  &__city {
    background-image: url("images/city.jpg");
  }

  &__phone {
    background-image: url("images/phone.jpg");
  }

  &__picture {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("images/people.png");
    background-position: center;
  }
}

.grid {
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(12, 1fr);
  font-size: 1.4em;
  margin: 0;
  background-color: lightsteelblue;
  height: 100%;
  padding: 50px;

  &__picture {
    display: none;

    @media (min-width: 960px) {
      display: grid;
      grid-area: 13/4/1/1;
    }
  }

  & .block {
    display: grid;
    grid-area: 1/1/span 12/span 12;

    @media (min-width: 960px) {
      grid-area: 2/5/span 10/span 7;
    }
  }
}
